# Stash folder
stash/

# Build directories
metabot_server/build/*
metabot_client/build/*
SmartServoFramework/*

# QtCreator project files
*.pro.*

# Make teporary files
Makefile

# QMake temporary files
.qmake.stash

# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
install_manifest.txt
cmake_install.cmake
cmake_defines.h
