# Stash folder
stash/

# Build directories
metabot_server/build/*
metabot_client/build/*
Makefile

# QtCreator project files
*.pro.*

# QMake temporary files
.qmake.stash

# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles

install_manifest.txt
cmake_install.cmake
cmake_defines.h
